header img {
  height: 80px;
}

body {
  /* background: chocolate; */
  height: 125vh;
  background-image: url("https://codetheweb.blog/assets/img/posts/style-a-navigation-bar-css/background.jpg");
  background-size: cover;
  font-family: sans-serif;
}

main {
  color: #fff;
}

header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
}
