header img {
  height: 5rem;
  margin-left: 2.5em;
}

body {
  height: 125vh;
  background-image: url("https://codetheweb.blog/assets/img/posts/style-a-navigation-bar-css/background.jpg");
  background-size: cover;
  font-family: sans-serif;
  margin-top: 5em;
  padding: 1.875em;
}

main {
  color: #fff;
}

header {
  background: hsla(0, 0%, 100%, .5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 10px 10px 25px 10px black;
}

header * {
  display: inline;
}

.nav-link {
  /* background: personal edit */
  background: orange;
  color: #333;
  text-decoration: none;
  /* Everything below this comment: personal edit */
  font-weight: bold;
  margin: 20px;
  padding: 8px 20px;
  border: 2px solid orange;
  border-radius: 50px;
}

.nav-link:hover,
.nav-link:focus {
  background: rgb(97, 63, 3);
  color: #fff;
  /* pierres edit */
  /* padding: 12px 30px; */
}

.nav-link:active {
  background: rgb(218, 199, 161);
  color: #333;
}

/* #modal {
  display: none;
  z-index: 2;
  margin: auto;
}

#background {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(85, 84, 84, 0.596);
  z-index: 1;
} */
